services:
  api-gateway:
    build: ./api-gateway
    networks: [app-network]
    depends_on: [setting-service]
    ports:
    - "3000:3000"

  auth-service:
    build: ./auth-service
    networks: [app-network]
    depends_on: [api-gateway]

  user-service:
    build: ./user-service
    networks: [app-network]
    depends_on: [api-gateway]

  rol-service:
    build: ./rol-service
    networks: [app-network]
    depends_on: [api-gateway]

  setting-service:
    build: ./setting-service
    networks: [app-network]
    # depends_on: []

  questionnaire-service:
    build: ./questionnaire-service
    networks: [app-network]
    depends_on: [api-gateway]

  push-notification-service:
    build: ./push-notification-service
    networks: [app-network]
    depends_on: [api-gateway]

  chatbot-service:
    build: ./chatbot
    networks: [app-network]
    depends_on: [api-gateway]
  
  # backoffice:
  #   build:
  #     context: ../backoffice/backoffice
  #     dockerfile: Dockerfile
  #   container_name: backoffice
  #   # ports:
  #   #   - "80:80"   # expone Nginx interno del contenedor
  #   networks: [app-network]
  #   depends_on:
  #     - api-gateway
  #     - nginx

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
      # - ../backoffice/backoffice/dist/backoffice/browser:/usr/share/nginx/html
    ports:
      - "80:80"
      # - "443:443"
    depends_on: [api-gateway]
    networks: [app-network]

  # certbot:
  #   image: certbot/certbot
  #   container_name: certbot
  #   volumes:
  #     - ./certbot/www:/var/www/certbot
  #     - ./certbot/conf:/etc/letsencrypt
  #   entrypoint: >
  #     certbot certonly --webroot 
  #     --webroot-path=/var/www/certbot 
  #     --email email@domain.com.mx 
  #     --agree-tos 
  #     --no-eff-email 
  #     -d domain.com

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks: [app-network]

  # mongodb:
  #   image: mongo:6.0
  #   container_name: mongodb
  #   restart: always
  #   ports:
  #     - "27017:27017"
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: admin
  #     MONGO_INITDB_ROOT_PASSWORD: Admin2025.-Db
  #     MONGO_INITDB_DATABASE: idkyetdb
  #   volumes:
  #     - mongodb_data:/data/db
  #   networks: [app-network]

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data:
