{
  "openapi": "3.0.4",
  "info": {
    "title": "Provident Customer App API - Demo",
    "description": "Documentation API Provident Customer App",
    "contact": {
      "email": "erick.carranza@kodit.com.mx"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://ec2-18-118-241-165.us-east-2.compute.amazonaws.com/api/",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api/",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Everything about your Auth"
    },
    {
      "name": "Users",
      "description": "Everything about your Users"
    },
    {
      "name": "Roles",
      "description": "Everything about your Roles"
    },
    {
      "name": "Permissions",
      "description": "Everything about your Permissions"
    },
    {
      "name": "Settings",
      "description": "Everything about your Settings"
    }
  ],
  "paths": {
    "/v1/auth/login": {
      "post": {
        "summary": "Login con email y contraseña",
        "security": [],
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLogin"
              },
              "example": {
                "email": "erickparacompartir@gmail.com",
                "password": "Pa$$w0rd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/login/{rrss}": {
      "post": {
        "summary": "Login con redes sociales (Facebook, Google, etc.)",
        "security": [],
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "rrss",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "facebook",
                "google"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLoginSocial"
              },
              "example": {
                "socialToken": "eyJhbGciOiJSUzI1NiIsImtpZCI6..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/register": {
      "post": {
        "summary": "Registro de nuevo usuario",
        "security": [],
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRegister"
              },
              "example": {
                "name": "Erick Carranza",
                "email": "erick@gmail.com",
                "phone": "7463628309",
                "photo": "https://lh3.googleusercontent.com/a/ACg8ocKKEEjNaqC3RXI0WBxS1JCe9LR8acDs2kFto6rBPj2y71VCBw=s96-c",
                "password": "Pa$$w0rd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "summary": "Listar usuarios",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/show/{id}": {
      "get": {
        "summary": "Obtener usuario por ID",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/store": {
      "post": {
        "summary": "Store user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/update/{id}": {
      "patch": {
        "summary": "Actualizar usuario",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/delete/{id}": {
      "delete": {
        "summary": "Eliminar usuario",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rol": {
      "get": {
        "summary": "Listar todos los roles",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Role"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/rol/show/{id}": {
      "get": {
        "summary": "Obtener rol por ID",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Role"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/rol/store": {
      "post": {
        "summary": "Crear nuevo rol",
        "tags": [
          "Roles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCreate"
              },
              "example": {
                "name": "admin",
                "description": "Rol Admin",
                "permissions": [
                  "681cebc64b7cc945448f0338",
                  "681c6111a2c1582f0961cb04"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Role"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/rol/update/{id}": {
      "patch": {
        "summary": "Actualizar rol por ID",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleUpdate"
              },
              "example": {
                "description": "Rol de Admin",
                "permissions": [
                  "681c733a20e41c8505ea9fdd",
                  "681cebc64b7cc945448f0338"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Role"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/rol/delete/{id}": {
      "delete": {
        "summary": "Eliminar rol por ID",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/permission": {
      "get": {
        "summary": "Listar todos los permisos",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Permission"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/permission/show/{id}": {
      "get": {
        "summary": "Obtener permiso por ID",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Permission"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/permission/store": {
      "post": {
        "summary": "Crear nuevo permiso",
        "tags": [
          "Permissions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionCreate"
              },
              "example": {
                "tag": "store_user",
                "name": "Store user",
                "description": "Permission to create user"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Permission"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/permission/update/{id}": {
      "patch": {
        "summary": "Actualizar permiso por ID",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionUpdate"
              },
              "example": {
                "tag": "update_user",
                "name": "Update user",
                "description": "Permission to update user"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Permission"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/permission/delete/{id}": {
      "delete": {
        "summary": "Eliminar permiso por ID",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings": {
      "get": {
        "summary": "Listar todos los settings",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Setting"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/all": {
      "get": {
        "summary": "Obtener todos los settings agrupados",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Setting"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/show/{id}": {
      "get": {
        "summary": "Obtener setting por ID",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Setting"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/show-key/{key}": {
      "get": {
        "summary": "Obtener setting por clave",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Setting"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/show-group/{group}": {
      "get": {
        "summary": "Obtener settings por grupo",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Setting"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/store": {
      "post": {
        "summary": "Crear nuevo setting",
        "tags": [
          "Settings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingCreate"
              },
              "example": {
                "key": "app_id_one_signal",
                "value": "50c45701-546c-4606-a7e3-02a34d5f9b82",
                "group": "notificatiojjjns"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Setting"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/update/{key}": {
      "put": {
        "summary": "Actualizar o crear setting por clave",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingUpdate"
              },
              "example": {
                "value": "FBKEYSecret",
                "group": "facebook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Setting"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/delete/{id}": {
      "delete": {
        "summary": "Eliminar setting por ID",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/questionnaire": {
      "get": {
        "summary": "Listar cuestionarios",
        "tags": [
          "Questionnaire"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Questionnaire"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/questionnaire/show/{id}": {
      "get": {
        "summary": "Obtener cuestionario por ID",
        "tags": [
          "Questionnaire"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Questionnaire"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/questionnaire/show-code/{code}": {
      "get": {
        "summary": "Obtener cuestionario por código",
        "tags": [
          "Questionnaire"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Questionnaire"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/questionnaire/store": {
      "post": {
        "summary": "Crear nuevo cuestionario",
        "tags": [
          "Questionnaire"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Questionnaire"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Questionnaire"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/questionnaire/update/{id}": {
      "put": {
        "summary": "Actualizar cuestionario completo",
        "tags": [
          "Questionnaire"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Questionnaire"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Questionnaire"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Actualizar parcialmente cuestionario",
        "tags": [
          "Questionnaire"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionnairePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Questionnaire"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/questionnaire/delete/{id}": {
      "delete": {
        "summary": "Eliminar cuestionario por ID",
        "tags": [
          "Questionnaire"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/category": {
      "get": {
        "summary": "Obtener todas las categorías",
        "tags": [
          "Category"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/category/show/{id}": {
      "get": {
        "summary": "Obtener categoría por ID",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Category"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/category/store": {
      "post": {
        "summary": "Crear nueva categoría",
        "tags": [
          "Category"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryStore"
              },
              "example": {
                "icon": "https://idkyet.s3.eu-central-1.amazonaws.com/succes.png",
                "color": "#ff5733",
                "translations": {
                  "es": {
                    "name": "Cursos"
                  },
                  "en": {
                    "name": "Courses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Category"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/category/update/{id}": {
      "patch": {
        "summary": "Actualizar parcialmente una categoría",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryUpdate"
              },
              "example": {
                "color": "#ff5733",
                "translations": {
                  "es": {
                    "name": "Cursos"
                  },
                  "en": {
                    "name": "Courses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Category"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/category/delete/{id}": {
      "delete": {
        "summary": "Eliminar una categoría",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/question-type": {
      "get": {
        "summary": "Obtener todos los tipos de pregunta",
        "tags": [
          "QuestionType"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/QuestionType"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/question-type/show/{id}": {
      "get": {
        "summary": "Obtener tipo de pregunta por ID",
        "tags": [
          "QuestionType"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/QuestionType"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/question-type/store": {
      "post": {
        "summary": "Crear nuevo tipo de pregunta",
        "tags": [
          "QuestionType"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionTypeStore"
              },
              "example": {
                "code": "open_ended_question",
                "translations": {
                  "es": {
                    "name": "Pregunta abierta",
                    "description": "Responda con una explicación breve o detallada, según prefiera."
                  },
                  "en": {
                    "name": "Open-ended Question",
                    "description": "Please answer with a brief or detailed explanation, as you prefer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/QuestionType"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/question-type/update/{id}": {
      "patch": {
        "summary": "Actualizar tipo de pregunta",
        "tags": [
          "QuestionType"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionTypeUpdate"
              },
              "example": {
                "code": "open_ended_questiosn",
                "translations": {
                  "es": {
                    "name": "Pregunta abierta",
                    "description": "Responda con una explicación breve o detallada, según prefiera."
                  },
                  "en": {
                    "name": "Open-ended Question",
                    "description": "Please answer with a brief or detailed explanation, as you prefer"
                  },
                  "fr": {
                    "name": "Question ouverte",
                    "description": "Veuillez répondre avec une explication brève ou détaillée, selon votre préférence"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/QuestionType"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/question-type/delete/{id}": {
      "delete": {
        "summary": "Eliminar tipo de pregunta",
        "tags": [
          "QuestionType"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "schemas": {
      "AuthLogin": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 64
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 64
          }
        }
      },
      "AuthLoginSocial": {
        "type": "object",
        "required": [
          "socialToken"
        ],
        "properties": {
          "socialToken": {
            "type": "string"
          }
        }
      },
      "AuthRegister": {
        "type": "object",
        "required": [
          "name",
          "email",
          "phone",
          "password"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 4,
            "maxLength": 50
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 64
          },
          "phone": {
            "type": "string",
            "minLength": 10,
            "maxLength": 10
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 35
          },
          "photo": {
            "type": "string",
            "format": "uri",
            "maxLength": 128
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "photo": {
            "type": "string",
            "format": "uri"
          },
          "dob": {
            "type": "string",
            "format": "date"
          },
          "country": {
            "type": "string"
          },
          "school": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        }
      },
      "UserCreate": {
        "type": "object",
        "required": [
          "name",
          "lastname",
          "email",
          "phone",
          "password",
          "dob",
          "country",
          "school"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 50
          },
          "lastname": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 64
          },
          "phone": {
            "type": "string",
            "minLength": 8,
            "maxLength": 15
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 35
          },
          "photo": {
            "type": "string",
            "format": "uri",
            "maxLength": 128
          },
          "dob": {
            "type": "string",
            "format": "date"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 56,
            "pattern": "^[A-Za-zÀ-ÿñÑ\\s]+$"
          },
          "school": {
            "type": "string",
            "minLength": 2,
            "maxLength": 55
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 4,
            "maxLength": 50
          },
          "lastname": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 64
          },
          "phone": {
            "type": "string",
            "minLength": 8,
            "maxLength": 15
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 64
          },
          "photo": {
            "type": "string",
            "format": "uri",
            "maxLength": 128
          },
          "dob": {
            "type": "string",
            "format": "date"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 56,
            "pattern": "^[A-Za-zÀ-ÿñÑ\\s]+$"
          },
          "school": {
            "type": "string",
            "minLength": 2,
            "maxLength": 55
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "pattern": "^[a-z]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        }
      },
      "RoleCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^[a-z]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        }
      },
      "RoleUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^[a-z]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        }
      },
      "Permission": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "tag": {
            "type": "string",
            "pattern": "^[a-z_]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "name": {
            "type": "string",
            "pattern": "^[A-Za-z\\s]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        }
      },
      "PermissionCreate": {
        "type": "object",
        "required": [
          "tag",
          "name"
        ],
        "properties": {
          "tag": {
            "type": "string",
            "pattern": "^[a-z_]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "name": {
            "type": "string",
            "pattern": "^[A-Za-z\\s]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        }
      },
      "PermissionUpdate": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string",
            "pattern": "^[a-z_]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "name": {
            "type": "string",
            "pattern": "^[A-Za-z\\s]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        }
      },
      "Setting": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "pattern": "^[a-z_]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "value": {},
          "group": {
            "type": "string",
            "pattern": "^[a-z_]+$",
            "minLength": 3,
            "maxLength": 50
          }
        }
      },
      "SettingCreate": {
        "type": "object",
        "required": [
          "key",
          "value",
          "group"
        ],
        "properties": {
          "key": {
            "type": "string",
            "pattern": "^[a-z_]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "value": {},
          "group": {
            "type": "string",
            "pattern": "^[a-z_]+$",
            "minLength": 3,
            "maxLength": 50
          }
        }
      },
      "SettingUpdate": {
        "type": "object",
        "required": [
          "value",
          "group"
        ],
        "properties": {
          "key": {
            "type": "string",
            "pattern": "^[a-z_]+$",
            "minLength": 3,
            "maxLength": 50
          },
          "value": {},
          "group": {
            "type": "string",
            "pattern": "^[a-z_]+$",
            "minLength": 3,
            "maxLength": 50
          }
        }
      },
      "Questionnaire": {
        "type": "object",
        "required": [
          "code",
          "translations",
          "categoryId",
          "questions"
        ],
        "properties": {
          "code": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50
          },
          "icon": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "minLength": 7,
            "maxLength": 9
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "required": [
                "name",
                "description"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 100
                },
                "description": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 200
                }
              }
            }
          },
          "categoryId": {
            "type": "string"
          },
          "questions": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          }
        }
      },
      "QuestionnairePatch": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50
          },
          "icon": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "minLength": 7,
            "maxLength": 9
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "required": [
                "name",
                "description"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "categoryId": {
            "type": "string"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          }
        }
      },
      "Question": {
        "type": "object",
        "required": [
          "translations",
          "questionType",
          "responses"
        ],
        "properties": {
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "required": [
                "label"
              ],
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 150
                }
              }
            }
          },
          "questionType": {
            "type": "string",
            "enum": [
              "multiple_choice",
              "multiple_selection",
              "open_ended_question"
            ]
          },
          "responses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Response"
            }
          }
        }
      },
      "Response": {
        "type": "object",
        "required": [
          "value",
          "order",
          "translations"
        ],
        "properties": {
          "value": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "order": {
            "type": "integer",
            "minimum": 1
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "required": [
                "label"
              ],
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100
                }
              }
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CategoryStore": {
        "type": "object",
        "required": [
          "icon",
          "color",
          "translations"
        ],
        "properties": {
          "icon": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "minLength": 7,
            "maxLength": 9
          },
          "translations": {
            "type": "object",
            "minProperties": 1,
            "additionalProperties": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 100
                }
              }
            }
          }
        }
      },
      "CategoryUpdate": {
        "type": "object",
        "properties": {
          "icon": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "minLength": 7,
            "maxLength": 9
          },
          "translations": {
            "type": "object",
            "minProperties": 1,
            "additionalProperties": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 100
                }
              }
            }
          }
        }
      },
      "QuestionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "QuestionTypeStore": {
        "type": "object",
        "required": [
          "code",
          "translations"
        ],
        "properties": {
          "code": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_]+$"
          },
          "translations": {
            "type": "object",
            "minProperties": 1,
            "additionalProperties": {
              "type": "object",
              "required": [
                "name",
                "description"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 100
                },
                "description": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 200
                }
              }
            }
          }
        }
      },
      "QuestionTypeUpdate": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_]+$"
          },
          "translations": {
            "type": "object",
            "minProperties": 1,
            "additionalProperties": {
              "type": "object",
              "required": [
                "name",
                "description"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 100
                },
                "description": {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 200
                }
              }
            }
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        },
        "xml": {
          "name": "##default"
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "message",
          "data"
        ]
      },
      "BaseResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      }
    },
    "requestBodies": {
      "Pet": {
        "description": "Pet object that needs to be added to the store",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Pet"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/Pet"
            }
          }
        }
      },
      "UserArray": {
        "description": "List of user object",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "petstore_auth": {},
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}