.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell, .mat-cell {
  padding: 0.5rem 1rem;
  text-align: left;
}

.mat-header-cell {
  font-weight: 600;
  background-color: var(--mat-sys-surface-variant); /* usa variables de M3 */
}

.mat-elevation-z8 {
  box-shadow: var(--mat-elevation-z8); /* usa variable Material */
}

mat-form-field.filter-input {
  width: 100%;
  margin-bottom: 1rem;
}

mat-paginator {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
