services:
  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "Provident"
      LDAP_DOMAIN: "provident.com"
      LDAP_ADMIN_PASSWORD: "admin"
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ./ldap_data:/var/lib/ldap
      - ./ldap_config:/etc/ldap/slapd.d
    restart: unless-stopped

  phpldapadmin:
    image: osixia/phpldapadmin:0.9.0
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: openldap
    ports:
      - "6443:443"
    restart: unless-stopped


#docker cp stars-users.ldif openldap:/stars-users.ldif
#docker exec -it openldap ldapadd \
#  -x -D "cn=admin,dc=provident,dc=com" -w admin \
#  -f /stars-users.ldif
