# Carpetas que no deben copiarse al contenedor
node_modules
dist
coverage

# Archivos de configuración y entornos locales
npm-debug.log
yarn-error.log
Dockerfile
docker-compose.yml

# IDEs y editores
.vscode
.idea

# Otros archivos innecesarios
*.log
*.md
