<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Verifica tu correo</title>
</head>

<body style="font-family: sans-serif; background-color: #f5f5f5; padding: 20px;">
    <div
        style="max-width: 600px; margin: auto; background: #ffffff; border-radius: 10px; padding: 20px; border: 1px solid #ddd;">
        <h2 style="color: #004182;">¡Verifica tu correo electrónico!</h2>
        <p>Hola,</p>
        <p>Tu código único de verificación es:</p>
        <div style="font-size: 28px; font-weight: bold; color: #D69828; margin: 20px 0; text-align: center;">
            {{CODE}}
        </div>
        <p>Ingresa este código en la app móvil para confirmar tu dirección de correo.</p>
        <p>Este código expira en 20 minutos. Si no solicitó esto haga caso omiso a este correo.</p>
        <p style="color: #042A51;">Gracias por usar nuestra app.</p>
    </div>
</body>

</html>